@font-face {
  font-family: 'NunitoRegular';
  src: url('./-common-/assets/fonts/Nunito-Regular.eot') format('embedded-opentype'),
  url('./-common-/assets/fonts/Nunito-Regular.woff') format('woff'),
  url('./-common-/assets/fonts/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NunitoBold';
  src: url('./-common-/assets/fonts/Nunito-Bold.eot') format('embedded-opentype'),
  url('./-common-/assets/fonts/Nunito-Bold.woff') format('woff'),
  url('./-common-/assets/fonts/Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
